<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="errorEmailAppender" class="ch.qos.logback.classic.net.SMTPAppender">
        <SMTPHost>smtp.qiye.163.com</SMTPHost>
        <Username>logger@163.com</Username>
        <Password>logger@123</Password>
        <To>receiver@163.com</To>
        <From>logger@163.com</From>
        <Subject>[ERROR]xx服务告警邮件-${SUB_ENV}</Subject>
        <encoder>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%date - %message%n</Pattern>
            </layout>
        </encoder>
    </appender>


    <appender name="notifyMail" class="ch.qos.logback.classic.AsyncAppender">
       <appender-ref ref="notifyEmailAppender${notMail}"/>
    </appender>

    <appender name="errorMail" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="errorEmailAppender${notMail}" />
    </appender>

    <appender name="errorServiceMail" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="errorServiceEmailAppender${notMail}" />
    </appender>

    <logger name="notifyMail">
        <appender-ref ref="notifyMail" />
    </logger>
    <logger name="errorMail">
        <appender-ref ref="errorMail" />
    </logger>
    <logger name="errorServiceMail">
        <appender-ref ref="errorServiceMail" />
    </logger>
    <root level="${logback.log.level}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
